.card-header {
    font-family: $main-font;
}
.form-group {
    font-family: $main-font;
}
@mixin gradientBg($startColor, $endColor) {
    background: $startColor;
    background: -moz-linear-gradient(
        left,
        $startColor 0%,
        $endColor 70%,
        $endColor 100%
    );
    background: -webkit-linear-gradient(
        left,
        $startColor 0%,
        $endColor 70%,
        $endColor 100%
    );
    background: linear-gradient(
        to right,
        $startColor 0%,
        $endColor 70%,
        $endColor 100%
    );
}
.bg-gradient1 span,
.bg-gradient1:before {
    @include gradientBg($main-color, #abdafc);
}

.auth-btn {
    margin: 5% auto;
    text-align: center;
}
button {
    border: none;

    &:hover,
    &:focus,
    &:active {
        border: none;
    }
}

/* fancy Button */
.fancy-button {
    display: inline-block;
    font-family: $main-font;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    background-color: white;
    &:before {
        content: "";
        display: inline-block;
        height: 30px;
        position: absolute;
        bottom: -5px;
        left: 30px;
        right: 30px;
        z-index: -1;
        border-radius: 30em;
        filter: blur(20px) brightness(0.95);
        transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }
    span {
        display: inline-block;
        padding: 10px 40px;
        border-radius: 50em;
        position: relative;
        z-index: 2;
        will-change: transform, filter;
        transform-style: preserve-3d;
        transition: all 0.3s ease-out;
    }
    &:focus,
    &:active {
        color: #ffffff;
    }
    &:hover {
        color: #ffffff;

        span {
            filter: brightness(1.05) contrast(1.05);
            transform: scale(0.95);
        }
        &:before {
            bottom: 0;
            filter: blur(10px) brightness(0.95);
        }
    }
    &.pop-onhover {
        &:before {
            opacity: 0;
            bottom: 10px;
        }
        &:hover {
            &:before {
                bottom: -7px;
                opacity: 1;
                filter: blur(20px);
            }
            span {
                transform: scale(1.04);
            }
            &:active {
                span {
                    filter: brightness(1) contrast(1);
                    transform: scale(1);
                    transition: all 0.15s ease-out;
                }
                &:before {
                    bottom: 0;
                    filter: blur(10px) brightness(0.95);
                    transition: all 0.2s ease-out;
                }
            }
        }
    }
}

.auth-header {
    color: white;
    @include gradientBg($main-color, #abdafc);
}
