.contact-form-head {
    .contact-form-title {
        @include title-font;
    }
    .complete {
        @include title-font;
    }
    p {
        font-family: $main-font;
        font-size: 20px;
    }
}

.contact-form {
    font-family: $main-font;
    label {
        font-size: 20px;
    }
    li {
        color: red;
    }
    input {
        font-size: 15px;
    }
    p {
        font-size: 20px;
    }
    textarea {
        resize: none;
    }
    .btn {
        @include main-btn;
    }
}
