$main-color: #df93e5;
$sub-color: #989797;
$main-font: "Noto Serif JP", sans-serif;
@mixin title-font {
    font-family: $main-font;
    color: black;
}
@mixin main-btn {
    border-color: $main-color;
    color: $main-color;
    font-weight: bolder;
    &:hover {
        color: white;
        background-color: lighten($main-color, 10%);
        border-color: lighten($main-color, 10%);
        &:active {
            outline: none;
            background-color: $main-color;
            border-color: $main-color;
        }
    }
}

.pagination {
    .page-link {
        color: darken($main-color, 5%);
    }
    .disabled {
        color: $sub-color;
    }

    .now {
        background-color: $main-color;
        color: white;
    }
}

.header {
    font-family: $main-font;
    .jumbotron-fluid {
        background: rgb(159, 159, 159);
        background: radial-gradient(
            circle,
            rgba(159, 159, 159, 1) 13%,
            rgba(142, 142, 142, 1) 88%
        );
    }
    .navbar-brand {
        font-family: Palatino;
        font-size: 60px;
        color: $main-color;
        &:hover {
            color: $main-color;
        }
        &:active {
            color: $main-color;
        }
    }
    .nav-item {
        font-size: 18px;
    }
    .btn {
        color: white;
        background-color: lighten($main-color, 10%);
        border-color: lighten($main-color, 10%);
        &:active {
            outline: none;
            background-color: $main-color;
            border-color: $main-color;
        }
    }
}
.main-btn {
    border-color: $main-color;
    color: $main-color;
    &:hover {
        color: white;
        background-color: lighten($main-color, 10%);
        border-color: lighten($main-color, 10%);
        &:active {
            outline: none;
            background-color: $main-color;
        }
    }
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $sub-color;
    text-align: center;
    .jumbotron-fluid {
        background: rgb(159, 159, 159);
        background: radial-gradient(
            circle,
            rgba(159, 159, 159, 1) 13%,
            rgba(142, 142, 142, 1) 88%
        );
    }
    .container {
        margin-bottom: 10px;
    }
    .sns-link {
        padding-top: 20px;
        a {
            font-size: 20px;
            color: white;
            font-family: $main-font;
            padding-top: 4px;
        }
        i {
            color: white;
            margin-right: 1px;
        }
    }
    .privacy {
        color: white;
    }
    .disclimer {
        color: white;
    }
    small {
        color: white;
        font-family: $main-font;
        text-align: center;
    }
}
.admin-header {
    font-family: Comic Sans MS;
}
.admin-footer {
    font-family: Comic Sans MS;
}
