.pagination {
    .page-link {
        color: darken($main-color, 5%);
    }
    .disabled {
        color: $sub-color;
    }

    .now {
        background-color: $main-color;
        color: white;
    }
}

.header {
    font-family: $main-font;
    .jumbotron-fluid {
        background-color: $sub-color;
    }
    .navbar-brand {
        font-family: Palatino;
        font-size: 60px;
        color: $main-color;
        &:hover {
            color: $main-color;
        }
        &:active {
            color: $main-color;
        }
    }
    .nav-item {
        font-size: 18px;
    }
    .btn {
        color: white;
        background-color: $main-color;
        border-color: $main-color;
        &:hover {
            outline: none;
            background-color: darken($main-color, 10%);
            border-color: darken($main-color, 10%);
            &:active {
                color: white;
                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }
}
.main-btn {
    @include main-btn;
}
.sub-btn {
    @include sub-btn;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $sub-color;
    text-align: center;
    .jumbotron-fluid {
        background-color: $sub-color;
    }
    .container {
        margin-bottom: 10px;
    }
    .sns-link {
        padding-top: 20px;
        a {
            font-size: 20px;
            font-family: $main-font;
            padding-top: 4px;
        }
        i {
            margin-right: 1px;
        }
    }
    small {
        font-family: $main-font;
        text-align: center;
    }
}
.admin-header {
    font-family: Comic Sans MS;
}
.admin-footer {
    font-family: Comic Sans MS;
}

.terms {
    font-family: $main-font;
}
