@mixin contents {
    font-family: $main-font;
    color: black;
    font-size: 29px;
}


.contents-logo{
    @include contents;
    text-align: center;
    margin-top: 10px;
}
.more {
        font-family: $main-font;
        color: black;
        text-align: right;
        font-size: 23px;
        margin-right: 5px;
        display :block;
        &:hover {
            text-decoration: none;
            color: darken($main-color,5%);
        }
}
