@mixin contents {
    font-family: $main-font;
    color: black;
}

.information {
    font-family: $main-font;
    font-size: 20px;
}
.contents-logo {
    @include contents;
    text-align: center;
    margin-top: 5px;
}
.more {
    font-family: $main-font;
    color: black;
    text-align: right;
    font-size: 20px;
    &:hover {
        text-decoration: none;
        color: darken($main-color, 5%);
    }
}
.brandlist {
    .brand {
        p {
            font-size: 16px;
            font-family: $main-font;
        }
    }
}
