.information {
    .information-logo {
        @include title-font;
    }
    .information-title {
        h2 {
            font-family: $main-font;
            font-size: 27px;
        }
    }
    .information-contents {
        font-size: 19px;
    }
    .pagination-area {
        .page-link {
            color: darken($main-color, 5%);
        }
        .disabled {
            color: $sub-color;
        }
    }
}
