.perfume-create {
    font-family: $main-font;
    .btn {
        @include main_btn;
    }
    .file_btn {
        @include sub-btn;
    }

    .delete {
        .btn-del {
            color: white;
            &:hover {
                color: white;
                background-color: lighten(red, 10%);
                &:active {
                    outline: none;
                    background-color: red;
                }
            }
        }
    }
}
