.perfume-create {
    font-family: $main-font;
    .btn {
        border-color: $main-color;
        color: $main-color;
        &:hover {
            color: white;
            background-color: lighten($main-color, 10%);
            border-color: lighten($main-color, 10%);
            &:active {
                outline: none;
                background-color: $main-color;
            }
        }
    }
    .file_btn {
        border-color: #b0c4de;
        color: #b0c4de;

        &:hover {
            background-color: darken(#b0c4de, 10%);
            color: white;
            border-color: darken(#b0c4de, 10%);
            &:active {
                background-color: #b0c4de;
                border-color: #b0c4de;
            }
        }
    }

    .delete {
        .btn-del {
            color: white;
            &:hover {
                color: white;
                background-color: lighten(red, 10%);
                &:active {
                    outline: none;
                    background-color: red;
                }
            }
        }
    }
}
