//レビュー一覧
.perfumeindex-header {
    .perfume-name {
        font-family: $main-font;
    }
    .perfume {
        .perfume-about {
            font-family: $main-font;
        }
        .perfume-detail {
            p {
                font-family: $main-font;
                font-size: 15x;
            }
        }
    }
    .cp_hr06 {
        position: relative;
        height: 3px;
        border-width: 0;
        background-image: -webkit-linear-gradient(
            left,
            transparent 0%,
            #283593 50%,
            transparent 100%
        );
        background-image: linear-gradient(
            90deg,
            transparent 0%,
            #283593 50%,
            transparent 100%
        );
    }
}

.review-list {
    h2 {
        font-family: $main-font;
        font-size: 30px;
    }
    .bi {
        font-size: 40px;
        color: $main-color;
        &:hover {
            color: darken($main-color, 15%);
        }
    }
    .reviews {
        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
}

//レビュー投稿・編集
.review-create {
    font-family: $main-font;
    .review-create-title {
        @include title-font;
    }

    .review-form {
        .user-image {
            border-radius: 50%;
            width: 140px;
            border: 2px;
            border-color: $sub-color;
        }
        .user-name {
            font-size: 30px;
        }
        .review-body {
            textarea {
                resize: none;
                font-size: 25px;
            }
        }
    }
    .btn {
        border-color: $main-color;
        color: $main-color;
        &:hover {
            color: white;
            background-color: lighten($main-color, 10%);
            border-color: lighten($main-color, 10%);
            &:active {
                outline: none;
                background-color: $main-color;
            }
        }
    }
}
.review-delete {
    font-family: $main-font;
}

//モーダル
.review-modal {
    .review-edit-link {
        font-size: 20px;
    }
    .user-profile {
        img {
            border-radius: 50%;
            width: 140px;
            border: 2px;
            border-color: $sub-color;
        }
        h2 {
            font-family: $main-font;
        }
    }
    .perfume-name {
        h2 {
            font-family: $main-font;
        }
    }
    .review-body {
        height: 300px;
        overflow: auto;
        .body {
            font-size: 16px;
            font-family: $main-font;
        }
    }
    .like {
        p {
            font-size: 16px;
            color: pink;
            font-family: $main-font;
        }
    }
    .date {
        p {
            font-size: 16px;
            font-family: $main-font;
        }
    }
}
