//レビュー一覧
.perfumeindex-header {
    .perfume-name {
        font-family: $main-font;
    }
    .perfume-edit-btn {
        .btn {
            font-family: $main-font;
            background-color: $main-color;
            color: white;
            &:hover {
                color: white;
                background-color: darken($main-color, 15%);
                &:active {
                    outline: none;
                    background-color: $main-color;
                }
            }
        }
    }
    .perfume {
        .perfume-about {
            font-family: $main-font;
        }
        .perfume-detail {
            p {
                font-family: $main-font;
                font-size: 15x;
            }
        }
    }
    .cp_hr06 {
        position: relative;
        height: 3px;
        border-width: 0;
        background-image: -webkit-linear-gradient(
            left,
            transparent 0%,
            #283593 50%,
            transparent 100%
        );
        background-image: linear-gradient(
            90deg,
            transparent 0%,
            #283593 50%,
            transparent 100%
        );
    }
}

.review-list-title {
    h2 {
        font-family: $main-font;
    }
    p {
        font-family: $main-font;
    }
    .bi {
        font-size: 40px;
        color: $main-color;
        &:hover {
            color: darken($main-color, 15%);
        }
    }
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        &:hover {
            cursor: pointer;
        }
    }
}

.review-link {
    img {
        &:hover {
            cursor: pointer;
        }
    }
}

//レビュー投稿・編集
.review-create {
    font-family: $main-font;
    .review-create-title {
        @include title-font;
    }
    .user-profile {
        img {
            border-radius: 50%;
            width: 160px;
            border: 2px;
            border-color: $sub-color;
        }
    }

    .review-form {
        .user-image {
            border-radius: 50%;
            width: 140px;
            border: 2px;
            border-color: $sub-color;
        }
        .review-body {
            textarea {
                resize: none;
                font-size: 25px;
            }
        }
    }
    .btn {
        @include main-btn;
    }
    .file_btn {
        @include sub_btn;
    }
    .delete {
        .btn-del {
            color: white;
            &:hover {
                color: white;
                background-color: lighten(red, 10%);
                &:active {
                    outline: none;
                    background-color: red;
                }
            }
        }
    }
}
.review-delete {
    font-family: $main-font;
}

//モーダル
.review-modal {
    .review-edit-link {
        font-size: 20px;
    }
    .user-profile {
        img {
            border-radius: 50%;
            width: 140px;
            border: 2px;
            border-color: $sub-color;
        }
        h2 {
            font-family: $main-font;
        }
    }
    .fa-cog {
        color: $sub-color;
        font-size: 30px;
        &:hover {
            color: $main-color;
        }
    }
    .perfume-name {
        h4 {
            font-family: $main-font;
        }
    }
    .review-body {
        overflow: auto;
        .body {
            font-size: 16px;
            font-family: $main-font;
        }
    }
    .likedate {
        input {
            color: $main-color;
            font-size: 20px;
            border: none;
        }
        p {
            font-size: 16px;
            font-family: $main-font;
        }
        .fa-clock {
            color: black;
        }
    }
}
